[Desktop Entry]
Name=Dungeon
Comment=A rougelike dungeon-crawler made in c++
Icon=/home/pi/Projects/dungeon_game/icon.bmp
Path=/home/pi/Projects/dungeon_game/
Exec=bash dungeon.sh
Type=Application
Encoding=UTF-8
Terminal=false
Categories=Application;Game;
Comment[en_NZ]=A rougelike dungeon-crawler made in c++
